In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython.display import Image

In [2]:
recorridos2018 = pd.read_csv(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\recorridos-realizados-2018.csv', delimiter=',',low_memory=False)

In [19]:
#Vamos a traernos barrios y latitudes y longitudes de las estaciones
estaciones = pd.read_excel(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\estacionesbicicletasfull.xlsx')
estaciones

,lat,long,id_estacion,capacidad,Nombre,barrio
0,-34.583133,-58.392452,1,0,Facultad de Derecho,Recoleta
1,-34.592589,-58.374822,2,0,Retiro,Retiro
2,-34.611032,-58.368260,3,20,ADUANA,Monserrat
3,-34.601726,-58.368763,4,20,Plaza Roma,San nicolas
4,-34.580550,-58.420954,5,42,Plaza Italia,Palermo
...,...,...,...,...,...,...
266,-34.544597,-58.459554,435,16,lub Ciudad de,NuÃ±ez
267,-34.610012,-58.374919,441,20,Legislatura,Monserrat
268,-34.608678,-58.371008,444,24,nisterio de Ec,San nicolas
269,-34.582618,-58.378731,448,24,Barrio 31,Retiro
270,-34.628937,-58.463661,449,24,San Jose de Fl,Flores

In [20]:
#Importamos un calendario para saber en que dia de la semana se encuentra cada fecha
calendario = pd.read_excel(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\TablaCalendario.xlsx')
calendario

         DiaSem       Fecha  DiaLab
0         Lunes  2018-01-01       1
1        Martes  2018-01-02       1
2     Miercoles  2018-01-03       1
3        Jueves  2018-01-04       1
4       Viernes  2018-01-05       1
...         ...         ...     ...
1091    Domingo  2020-12-27       0
1092      Lunes  2020-12-28       1
1093     Martes  2020-12-29       1
1094  Miercoles  2020-12-30       1
1095     Jueves  2020-12-31       1

[1096 rows x 3 columns]

In [21]:
#Vamos con 2018
recorridos2018

,id_usuario,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino,dur_hs,dur_min,dur_seg
0,5453,M,2018-01-01 00:08:05,45.0,Uruguay,-58.386913,-34.601616,Tucumán y Uruguay,0 days 00:19:53.000000000,2018-01-01 00:27:58,183.0,Virrey Cevallos,-58.389692,-34.615638,México 1652 entre Virrey Cevallos y Solís,00,19,53
1,673,M,2018-01-01 00:18:05,189.0,Posadas,-58.385586,-34.588475,Posadas 1350 entre Montevideo y Rodríguez Peña,0 days 00:26:19.000000000,2018-01-01 00:44:24,110.0,Guardia Vieja,-58.415459,-34.601761,Guardia Vieja 3606 entre Billinghurst y Mario ...,00,26,19
2,179119,F,2018-01-01 00:20:14,50.0,Hospital Rivadavia,-58.401148,-34.583677,Lucena Pereyra 2516 entre Las Heras y Pagano,0 days 00:27:39.000000000,2018-01-01 00:47:53,31.0,Padilla,-58.439709,-34.603162,Padilla y Warnes Av,00,27,39
3,400147,M,2018-01-01 00:20:22,111.0,Macacha Güemes,-58.363000,-34.604969,Macacha Guemes y Juana Manso,0 days 00:48:51.000000000,2018-01-01 01:09:13,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa,00,48,51
4,400156,F,2018-01-01 00:20:31,111.0,Macacha Güemes,-58.363000,-34.604969,Macacha Guemes y Juana Manso,0 days 00:49:27.000000000,2018-01-01 01:09:58,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa,00,49,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619963,190597,M,2018-12-30 19:46:32,75.0,Plaza Primero de Mayo,-58.398905,-34.612124,Pichincha entre Adolfo Alsina y Moreno,0 days 00:07:15.000000000,2018-12-30 19:53:47,118.0,México,-58.402827,-34.616813,Saavedra y México,00,07,15
2619964,119885,F,2018-12-30 19:48:14,139.0,Virrey Liniers,-58.413150,-34.633309,Salcedo 3401 y Virrey Liniers,0 days 00:09:59.000000000,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,-58.415882,-34.622439,Estados Unidos 3568 entre Boedo y Maza,00,09,59
2619965,652034,F,2018-12-30 19:48:51,30.0,Peña,-58.397378,-34.590394,Azcuénaga y Peña,0 days 00:10:32.000000000,2018-12-30 19:59:23,76.0,Ayacucho,-58.394927,-34.607573,Ayacucho entre Perón Juan y Bartolomé Mitre,00,10,32
2619966,467438,M,2018-12-30 19:51:42,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan,0 days 00:09:57.000000000,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan,00,09,57
2619967,265951,M,2018-12-30 19:52:41,6.0,Parque Lezama,-58.369709,-34.628301,Av Martín García e Irala,0 days 00:10:26.000000000,2018-12-30 20:03:07,137.0,Azopardo y Chile,-58.367470,-34.615926,Azopardo 700 y Chile,00,10,26

In [22]:
#Pasamos la columna de duracion a segundos
recorte18  = recorridos2018['duracion_recorrido'].str.split(" ", n=2, expand=True)
duracion018=recorte18[2]
duracion18=duracion018.str.slice(stop=8)
duracion18

0          00:19:53
1          00:26:19
2          00:27:39
3          00:48:51
4          00:49:27
             ...
2619963    00:07:15
2619964    00:09:59
2619965    00:10:32
2619966    00:09:57
2619967    00:10:26
Name: 2, Length: 2619968, dtype: object

In [23]:
minutos18=duracion18.str.slice(start=3, stop=5)
horas18=duracion18.str.slice(stop=2)
segundos18=duracion18.str.slice(start=6,stop=8)
recorridos2018['dur_hs']=horas18
recorridos2018['dur_min']=minutos18
recorridos2018['dur_seg']=segundos18
recorridos2018

,id_usuario,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino,dur_hs,dur_min,dur_seg
0,5453,M,2018-01-01 00:08:05,45.0,Uruguay,-58.386913,-34.601616,Tucumán y Uruguay,0 days 00:19:53.000000000,2018-01-01 00:27:58,183.0,Virrey Cevallos,-58.389692,-34.615638,México 1652 entre Virrey Cevallos y Solís,00,19,53
1,673,M,2018-01-01 00:18:05,189.0,Posadas,-58.385586,-34.588475,Posadas 1350 entre Montevideo y Rodríguez Peña,0 days 00:26:19.000000000,2018-01-01 00:44:24,110.0,Guardia Vieja,-58.415459,-34.601761,Guardia Vieja 3606 entre Billinghurst y Mario ...,00,26,19
2,179119,F,2018-01-01 00:20:14,50.0,Hospital Rivadavia,-58.401148,-34.583677,Lucena Pereyra 2516 entre Las Heras y Pagano,0 days 00:27:39.000000000,2018-01-01 00:47:53,31.0,Padilla,-58.439709,-34.603162,Padilla y Warnes Av,00,27,39
3,400147,M,2018-01-01 00:20:22,111.0,Macacha Güemes,-58.363000,-34.604969,Macacha Guemes y Juana Manso,0 days 00:48:51.000000000,2018-01-01 01:09:13,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa,00,48,51
4,400156,F,2018-01-01 00:20:31,111.0,Macacha Güemes,-58.363000,-34.604969,Macacha Guemes y Juana Manso,0 days 00:49:27.000000000,2018-01-01 01:09:58,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa,00,49,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619963,190597,M,2018-12-30 19:46:32,75.0,Plaza Primero de Mayo,-58.398905,-34.612124,Pichincha entre Adolfo Alsina y Moreno,0 days 00:07:15.000000000,2018-12-30 19:53:47,118.0,México,-58.402827,-34.616813,Saavedra y México,00,07,15
2619964,119885,F,2018-12-30 19:48:14,139.0,Virrey Liniers,-58.413150,-34.633309,Salcedo 3401 y Virrey Liniers,0 days 00:09:59.000000000,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,-58.415882,-34.622439,Estados Unidos 3568 entre Boedo y Maza,00,09,59
2619965,652034,F,2018-12-30 19:48:51,30.0,Peña,-58.397378,-34.590394,Azcuénaga y Peña,0 days 00:10:32.000000000,2018-12-30 19:59:23,76.0,Ayacucho,-58.394927,-34.607573,Ayacucho entre Perón Juan y Bartolomé Mitre,00,10,32
2619966,467438,M,2018-12-30 19:51:42,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan,0 days 00:09:57.000000000,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan,00,09,57
2619967,265951,M,2018-12-30 19:52:41,6.0,Parque Lezama,-58.369709,-34.628301,Av Martín García e Irala,0 days 00:10:26.000000000,2018-12-30 20:03:07,137.0,Azopardo y Chile,-58.367470,-34.615926,Azopardo 700 y Chile,00,10,26

In [24]:
recorridos2018reor = recorridos2018[['dur_hs','dur_min','dur_seg','id_estacion_origen','fecha_origen_recorrido','nombre_estacion_origen','fecha_destino_recorrido','id_estacion_destino','nombre_estacion_destino','id_usuario']]

In [25]:
recorridos2018reor

,dur_hs,dur_min,dur_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario
0,00,19,53,45.0,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183.0,Virrey Cevallos,5453
1,00,26,19,189.0,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110.0,Guardia Vieja,673
2,00,27,39,50.0,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31.0,Padilla,179119
3,00,48,51,111.0,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54.0,Acuña de Figueroa,400147
4,00,49,27,111.0,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54.0,Acuña de Figueroa,400156
...,...,...,...,...,...,...,...,...,...,...
2619963,00,07,15,75.0,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118.0,México,190597
2619964,00,09,59,139.0,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,119885
2619965,00,10,32,30.0,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76.0,Ayacucho,652034
2619966,00,09,57,52.0,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,467438
2619967,00,10,26,6.0,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137.0,Azopardo y Chile,265951

In [26]:
#vemos la cantidad de nulos que tiene el dataset recorridos2018reor
percent2018 = (recorridos2018reor.isnull().sum()/recorridos2018reor.isnull().count()).sort_values(ascending=False)
percent2018.head(20)

fecha_destino_recorrido    0.016688
dur_seg                    0.016688
dur_min                    0.016688
dur_hs                     0.016688
id_estacion_destino        0.011636
id_estacion_origen         0.011536
id_usuario                 0.000000
nombre_estacion_destino    0.000000
nombre_estacion_origen     0.000000
fecha_origen_recorrido     0.000000
dtype: float64

In [27]:
recorridos2018limpio=recorridos2018reor.dropna()
recorridos2018limpio

,dur_hs,dur_min,dur_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario
0,00,19,53,45.0,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183.0,Virrey Cevallos,5453
1,00,26,19,189.0,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110.0,Guardia Vieja,673
2,00,27,39,50.0,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31.0,Padilla,179119
3,00,48,51,111.0,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54.0,Acuña de Figueroa,400147
4,00,49,27,111.0,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54.0,Acuña de Figueroa,400156
...,...,...,...,...,...,...,...,...,...,...
2619963,00,07,15,75.0,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118.0,México,190597
2619964,00,09,59,139.0,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,119885
2619965,00,10,32,30.0,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76.0,Ayacucho,652034
2619966,00,09,57,52.0,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,467438
2619967,00,10,26,6.0,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137.0,Azopardo y Chile,265951

In [28]:
recorridos2018limpio['dur_hs_int'] = recorridos2018limpio['dur_hs'].astype(int)
recorridos2018limpio['dur_min_int'] = recorridos2018limpio['dur_min'].astype(int)
recorridos2018limpio['dur_seg_int'] = recorridos2018limpio['dur_seg'].astype(int)
recorridos2018limpio

C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,dur_hs,dur_min,dur_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario,dur_hs_int,dur_min_int,dur_seg_int
0,00,19,53,45.0,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183.0,Virrey Cevallos,5453,0,19,53
1,00,26,19,189.0,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110.0,Guardia Vieja,673,0,26,19
2,00,27,39,50.0,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31.0,Padilla,179119,0,27,39
3,00,48,51,111.0,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54.0,Acuña de Figueroa,400147,0,48,51
4,00,49,27,111.0,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54.0,Acuña de Figueroa,400156,0,49,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619963,00,07,15,75.0,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118.0,México,190597,0,7,15
2619964,00,09,59,139.0,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,119885,0,9,59
2619965,00,10,32,30.0,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76.0,Ayacucho,652034,0,10,32
2619966,00,09,57,52.0,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,467438,0,9,57
2619967,00,10,26,6.0,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137.0,Azopardo y Chile,265951,0,10,26

In [29]:
#ahora si podemos multiplicar las horas, minutos y sumar segundos para la duracion total
recorridos2018limpio['duracion_tot_seg'] = recorridos2018limpio['dur_min_int'].apply(lambda x: x*60) + recorridos2018limpio['dur_seg_int'] + recorridos2018limpio['dur_hs_int'].apply(lambda x: x*3600)
recorridos2018limpio

C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dur_hs,dur_min,dur_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario,dur_hs_int,dur_min_int,dur_seg_int,duracion_tot_seg
0,00,19,53,45.0,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183.0,Virrey Cevallos,5453,0,19,53,1193
1,00,26,19,189.0,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110.0,Guardia Vieja,673,0,26,19,1579
2,00,27,39,50.0,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31.0,Padilla,179119,0,27,39,1659
3,00,48,51,111.0,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54.0,Acuña de Figueroa,400147,0,48,51,2931
4,00,49,27,111.0,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54.0,Acuña de Figueroa,400156,0,49,27,2967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619963,00,07,15,75.0,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118.0,México,190597,0,7,15,435
2619964,00,09,59,139.0,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,119885,0,9,59,599
2619965,00,10,32,30.0,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76.0,Ayacucho,652034,0,10,32,632
2619966,00,09,57,52.0,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,467438,0,9,57,597
2619967,00,10,26,6.0,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137.0,Azopardo y Chile,265951,0,10,26,626

In [30]:
recorridos2018final=recorridos2018limpio[['duracion_tot_seg','id_estacion_origen','fecha_origen_recorrido','nombre_estacion_origen','fecha_destino_recorrido','id_estacion_destino','nombre_estacion_destino','id_usuario']]
recorridos2018final

,duracion_tot_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario
0,1193,45.0,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183.0,Virrey Cevallos,5453
1,1579,189.0,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110.0,Guardia Vieja,673
2,1659,50.0,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31.0,Padilla,179119
3,2931,111.0,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54.0,Acuña de Figueroa,400147
4,2967,111.0,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54.0,Acuña de Figueroa,400156
...,...,...,...,...,...,...,...,...
2619963,435,75.0,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118.0,México,190597
2619964,599,139.0,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,119885
2619965,632,30.0,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76.0,Ayacucho,652034
2619966,597,52.0,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,467438
2619967,626,6.0,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137.0,Azopardo y Chile,265951

In [31]:
#Vamos con los id
#Por suerte ambos ya son float!
recorridos2018final['id_estacion_destino'].dtype
recorridos2018final['id_estacion_origen'].dtype

dtype('float64')

In [32]:
recorridos2018final['id_estacion_destino_int'] =recorridos2018final['id_estacion_destino'].astype(np.int64)
recorridos2018final['id_estacion_origen_int'] =recorridos2018final['id_estacion_origen'].astype(np.int64)
recorridos2018final=recorridos2018final.drop(columns=['id_estacion_origen'])
recorridos2018final=recorridos2018final.drop(columns=['id_estacion_destino'])
recorridos2018final

C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\limat\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,duracion_tot_seg,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,nombre_estacion_destino,id_usuario,id_estacion_destino_int,id_estacion_origen_int
0,1193,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,Virrey Cevallos,5453,183,45
1,1579,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,Guardia Vieja,673,110,189
2,1659,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,Padilla,179119,31,50
3,2931,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,Acuña de Figueroa,400147,54,111
4,2967,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,Acuña de Figueroa,400156,54,111
...,...,...,...,...,...,...,...,...
2619963,435,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,México,190597,118,75
2619964,599,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,Estados Unidos y Boedo,119885,199,139
2619965,632,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,Ayacucho,652034,76,30
2619966,597,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,Sánchez de Bustamante,467438,52,52
2619967,626,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,Azopardo y Chile,265951,137,6

In [33]:
recorridos2018final=recorridos2018final[['duracion_tot_seg','id_estacion_origen_int','fecha_origen_recorrido','nombre_estacion_origen','fecha_destino_recorrido','id_estacion_destino_int','nombre_estacion_destino','id_usuario',]]
recorridos2018final

,duracion_tot_seg,id_estacion_origen_int,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino_int,nombre_estacion_destino,id_usuario
0,1193,45,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183,Virrey Cevallos,5453
1,1579,189,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110,Guardia Vieja,673
2,1659,50,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31,Padilla,179119
3,2931,111,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54,Acuña de Figueroa,400147
4,2967,111,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54,Acuña de Figueroa,400156
...,...,...,...,...,...,...,...,...
2619963,435,75,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118,México,190597
2619964,599,139,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199,Estados Unidos y Boedo,119885
2619965,632,30,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76,Ayacucho,652034
2619966,597,52,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52,Sánchez de Bustamante,467438
2619967,626,6,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137,Azopardo y Chile,265951

In [34]:
#Unificamos nombres de columnas
recorridos2018final.columns = ['duracion_tot_seg','id_estacion_origen','fecha_origen_recorrido','nombre_estacion_origen','fecha_destino_recorrido','id_estacion_destino','nombre_estacion_destino','id_usuario']

In [35]:
#Agregamos info de estaciones
recorridos2018final=recorridos2018final.merge(estaciones.loc[:,["id_estacion","barrio","capacidad","lat","long"]], how= 'left' , left_on = ['id_estacion_origen'], right_on=['id_estacion'])
recorridos2018final.rename(columns={'barrio': 'barrio_origen', 'capacidad': 'capacidad_origen','lat':'lat_origen','long':'long_origen'}, inplace=True)
recorridos2018final=recorridos2018final.drop(columns=['id_estacion'])
recorridos2018final=recorridos2018final.merge(estaciones.loc[:,["id_estacion","barrio","capacidad","lat","long"]], how= 'left' , left_on = ['id_estacion_origen'], right_on=['id_estacion'])
recorridos2018final.rename(columns={'barrio': 'barrio_destino', 'capacidad': 'capacidad_destino','lat':'lat_destino','long':'long_destino'}, inplace=True)
recorridos2018final=recorridos2018final.drop(columns=['id_estacion'])

In [36]:
nulos2018estaciones = (recorridos2018final.isnull().sum()/recorridos2018final.isnull().count()).sort_values(ascending=False)
nulos2018estaciones

long_destino               0.0
lat_destino                0.0
capacidad_destino          0.0
barrio_destino             0.0
long_origen                0.0
lat_origen                 0.0
capacidad_origen           0.0
barrio_origen              0.0
id_usuario                 0.0
nombre_estacion_destino    0.0
id_estacion_destino        0.0
fecha_destino_recorrido    0.0
nombre_estacion_origen     0.0
fecha_origen_recorrido     0.0
id_estacion_origen         0.0
duracion_tot_seg           0.0
dtype: float64

In [37]:
#Uno el dataet de recorridos 2018 con el calendario
recorridos2018final['Fecha_str']=recorridos2018final['fecha_origen_recorrido'].apply(str).str.slice(stop=10)
recorridos2018final = recorridos2018final.merge(calendario, how= 'left' , left_on = ['Fecha_str'], right_on=['Fecha'])
recorridos2018final=recorridos2018final.drop(columns=['Fecha'])
recorridos2018final

,duracion_tot_seg,id_estacion_origen,fecha_origen_recorrido,nombre_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,id_usuario,barrio_origen,capacidad_origen,lat_origen,long_origen,barrio_destino,capacidad_destino,lat_destino,long_destino,Fecha_str,DiaSem,DiaLab
0,1193,45,2018-01-01 00:08:05,Uruguay,2018-01-01 00:27:58,183,Virrey Cevallos,5453,San nicolas,20,-34.601864,-58.386693,San nicolas,20,-34.601864,-58.386693,2018-01-01,Lunes,1
1,1579,189,2018-01-01 00:18:05,Posadas,2018-01-01 00:44:24,110,Guardia Vieja,673,Retiro,20,-34.588689,-58.385211,Retiro,20,-34.588689,-58.385211,2018-01-01,Lunes,1
2,1659,50,2018-01-01 00:20:14,Hospital Rivadavia,2018-01-01 00:47:53,31,Padilla,179119,Palermo,20,-34.583735,-58.401080,Palermo,20,-34.583735,-58.401080,2018-01-01,Lunes,1
3,2931,111,2018-01-01 00:20:22,Macacha Güemes,2018-01-01 01:09:13,54,Acuña de Figueroa,400147,Puerto madero,0,-34.604969,-58.363000,Puerto madero,0,-34.604969,-58.363000,2018-01-01,Lunes,1
4,2967,111,2018-01-01 00:20:31,Macacha Güemes,2018-01-01 01:09:58,54,Acuña de Figueroa,400156,Puerto madero,0,-34.604969,-58.363000,Puerto madero,0,-34.604969,-58.363000,2018-01-01,Lunes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520540,435,75,2018-12-30 19:46:32,Plaza Primero de Mayo,2018-12-30 19:53:47,118,México,190597,Balvanera,20,-34.612298,-58.398987,Balvanera,20,-34.612298,-58.398987,2018-12-30,Domingo,0
2520541,599,139,2018-12-30 19:48:14,Virrey Liniers,2018-12-30 19:58:13,199,Estados Unidos y Boedo,119885,Boedo,0,-34.633309,-58.413150,Boedo,0,-34.633309,-58.413150,2018-12-30,Domingo,0
2520542,632,30,2018-12-30 19:48:51,Peña,2018-12-30 19:59:23,76,Ayacucho,652034,Recoleta,20,-34.590821,-58.397370,Recoleta,20,-34.590821,-58.397370,2018-12-30,Domingo,0
2520543,597,52,2018-12-30 19:51:42,Sánchez de Bustamante,2018-12-30 20:01:39,52,Sánchez de Bustamante,467438,Almagro,0,-34.607089,-58.414668,Almagro,0,-34.607089,-58.414668,2018-12-30,Domingo,0
2520544,626,6,2018-12-30 19:52:41,Parque Lezama,2018-12-30 20:03:07,137,Azopardo y Chile,265951,San telmo,20,-34.628526,-58.369758,San telmo,20,-34.628526,-58.369758,2018-12-30,Domingo,0

In [38]:
recorridos2018final.fecha_origen_recorrido = pd.to_datetime(recorridos2018final.fecha_origen_recorrido) 
recorridos2018final['anio'] = recorridos2018final.fecha_origen_recorrido.dt.year
recorridos2018final['mes'] = recorridos2018final.fecha_origen_recorrido.dt.month
recorridos2018final['dia'] = recorridos2018final.fecha_origen_recorrido.dt.day
recorridos2018final['franja_horaria'] = recorridos2018final.fecha_origen_recorrido.dt.hour

In [39]:
recorridos2018final['aniomes'] = recorridos2018final['anio'].apply(str) +'-'+recorridos2018final['mes'].apply(str)

In [40]:
#Vamos a unificar los nombres de estaciones origen y destino todos a minuscula
recorridos2018final["nombre_estacion_origen_min"] = recorridos2018final["nombre_estacion_origen"].str.lower()
recorridos2018final["nombre_estacion_destino_min"]= recorridos2018final["nombre_estacion_destino"].str.lower()
recorridos2018final=recorridos2018final.drop(columns=['nombre_estacion_origen','nombre_estacion_destino'])

In [41]:
# Vamos a importar las tablas con la informacion de los usuarios para traernos sexo y edad

In [42]:
#importamos tabla usuarios de 2015,2016,2017 y 2018. 
usuarios2015 = pd.read_csv(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\usuarios-ecobici-2015.csv', delimiter=',',low_memory=False)
usuarios2016 = pd.read_csv(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\usuarios-ecobici-2016.csv', delimiter=',',low_memory=False)
usuarios2017 = pd.read_csv(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\usuarios-ecobici-2017.csv', delimiter=',',low_memory=False)
usuarios2018 = pd.read_csv(r'C:\\Users\\limat\\Desktop\\Operativa\\CIENCIA DE DATOS\\TP\\usuarios-ecobici-2018.csv', delimiter=',',low_memory=False)

In [43]:
usuarios2015

       usuario_id usuario_sexo  usuario_edad  fecha_alta     hora_alta
0            7682            M            45  2015-02-28  17:32:55.087
1           19577            M            47  2015-02-28  17:33:12.227
2          108635            M            26  2015-02-28  17:35:13.800
3          129948            M            29  2015-02-28  17:35:42.780
4          129949            M            24  2015-02-28  17:35:42.780
...           ...          ...           ...         ...           ...
40392      218844            M            46  2015-12-31  17:14:38.960
40393      222867            M            28  2015-12-31  17:15:24.820
40394      223653            M            28  2015-12-31  17:17:49.683
40395      223845            F            44  2015-12-31  17:18:55.370
40396      223847            M            29  2015-12-31  18:52:35.037

[40397 rows x 5 columns]

In [44]:
usuarios2016

       usuario_id usuario_sexo  usuario_edad  fecha_alta     hora_alta
0          223858            M            41  2016-01-01  03:45:19.040
1          223873            M            35  2016-01-01  12:36:42.073
2          223874            M            47  2016-01-01  12:45:43.570
3          223875            F            42  2016-01-01  12:54:43.570
4          223876            M            49  2016-01-01  12:58:38.463
...           ...          ...           ...         ...           ...
39476      336095            M            28  2016-12-31  20:36:57.560
39477      336102            M            23  2016-12-31  21:29:28.100
39478      336104            M            23  2016-12-31  22:11:50.170
39479      336107            F            24  2016-12-31  22:57:19.137
39480      336109            M            47  2016-12-31  23:03:50.967

[39481 rows x 5 columns]

In [45]:
usuarios2017

       usuario_id usuario_sexo  usuario_edad  fecha_alta     hora_alta
0          336112            M            21  2017-01-01  01:32:10.863
1          336114            M            26  2017-01-01  01:42:05.780
2          336119            F            40  2017-01-01  03:06:03.890
3          336120            F            43  2017-01-01  07:15:26.287
4          336141            F            58  2017-01-01  11:53:37.247
...           ...          ...           ...         ...           ...
58217      494627            M            28  2017-12-31  10:07:52.700
58218      494641            F            26  2017-12-31  11:03:15.327
58219      494659            F            59  2017-12-31  13:02:09.137
58220      494664            F            61  2017-12-31  13:17:42.250
58221      494671            M            38  2017-12-31  13:54:02.410

[58222 rows x 5 columns]

In [46]:
usuarios2018

       usuario_id usuario_sexo  usuario_edad  fecha_alta hora_alta
0          380973            F            49  03/10/2018   5:57:40
1          381008            M            26  02/01/2018   5:53:06
2          624273            M            22  28/09/2018   5:57:35
3          624274            F            24  28/09/2018   5:57:35
4          624275            M            30  05/10/2018   5:57:42
...           ...          ...           ...         ...       ...
56177      630106            M            28  04/11/2018   5:58:12
56178      630108            M            24  11/10/2018   5:57:48
56179      630113            F            23  13/10/2018   5:57:50
56180      630116            M            27  07/10/2018   5:57:44
56181      630119            F            34  11/10/2018   5:57:48

[56182 rows x 5 columns]

In [47]:
usuarios1718=usuarios2017.append(usuarios2018, ignore_index=True)
usuarios1516=usuarios2015.append(usuarios2016, ignore_index=True)
usuarios=usuarios1718.append(usuarios1516, ignore_index=True)
usuarios

        usuario_id usuario_sexo  usuario_edad  fecha_alta     hora_alta
0           336112            M            21  2017-01-01  01:32:10.863
1           336114            M            26  2017-01-01  01:42:05.780
2           336119            F            40  2017-01-01  03:06:03.890
3           336120            F            43  2017-01-01  07:15:26.287
4           336141            F            58  2017-01-01  11:53:37.247
...            ...          ...           ...         ...           ...
194277      336095            M            28  2016-12-31  20:36:57.560
194278      336102            M            23  2016-12-31  21:29:28.100
194279      336104            M            23  2016-12-31  22:11:50.170
194280      336107            F            24  2016-12-31  22:57:19.137
194281      336109            M            47  2016-12-31  23:03:50.967

[194282 rows x 5 columns]

In [48]:
#Se concatenaron bien!
40397+39481+58222+56182

194282

In [49]:
#Vamos a investigar donde estan los nulos
#Uno el dataet de recorridos 2018 final con el dataset de usuarios
recorridos_por_usuario2018 = recorridos2018final.merge(usuarios, how= 'left' , left_on = ['id_usuario'], right_on=['usuario_id'])
nulosrecorridosporusuario2018 = (recorridos_por_usuario2018.isnull().sum()/recorridos_por_usuario2018.isnull().count()).sort_values(ascending=False)
nulosrecorridosporusuario2018

usuario_sexo                   0.253518
hora_alta                      0.253474
usuario_edad                   0.253474
usuario_id                     0.253474
fecha_alta                     0.253474
capacidad_destino              0.000000
id_estacion_origen             0.000000
fecha_origen_recorrido         0.000000
fecha_destino_recorrido        0.000000
id_estacion_destino            0.000000
id_usuario                     0.000000
barrio_origen                  0.000000
capacidad_origen               0.000000
lat_origen                     0.000000
long_origen                    0.000000
barrio_destino                 0.000000
Fecha_str                      0.000000
lat_destino                    0.000000
long_destino                   0.000000
DiaSem                         0.000000
DiaLab                         0.000000
anio                           0.000000
mes                            0.000000
dia                            0.000000
franja_horaria                 0.000000
aniomes                        0.000000
nombre_estacion_origen_min     0.000000
nombre_estacion_destino_min    0.000000
duracion_tot_seg               0.000000
dtype: float64

In [50]:
#no el dataet de recorridos 2018 con el dataset de usuarios
#En el dataset original teniamos el 100% del sexo del usuario
recorridos_por_usuario2018orig = recorridos2018.merge(usuarios, how= 'left' , left_on = ['id_usuario'], right_on=['usuario_id'])
nulosrecorridosporusuario2018orig = (recorridos_por_usuario2018orig.isnull().sum()/recorridos_por_usuario2018orig.isnull().count()).sort_values(ascending=False)
nulosrecorridosporusuario2018orig

usuario_sexo                  0.252953
hora_alta                     0.252909
fecha_alta                    0.252909
usuario_edad                  0.252909
usuario_id                    0.252909
dur_seg                       0.016688
dur_min                       0.016688
dur_hs                        0.016688
duracion_recorrido            0.016688
fecha_destino_recorrido       0.016688
id_estacion_destino           0.011636
long_estacion_destino         0.011636
lat_estacion_destino          0.011636
domicilio_estacion_destino    0.011636
domicilio_estacion_origen     0.011536
lat_estacion_origen           0.011536
long_estacion_origen          0.011536
id_estacion_origen            0.011536
fecha_origen_recorrido        0.000000
genero_usuario                0.000000
nombre_estacion_destino       0.000000
nombre_estacion_origen        0.000000
id_usuario                    0.000000
dtype: float64

In [51]:
#Uno el dataet de recorridos 2018 con el dataset de usuarios 2018
#Usar todos los usuarios creados desde 2015 mejoro el valor de nulos!
#recorridos18_usuarios18= recorridos2018.merge(usuarios2018, how= 'left' , left_on = ['id_usuario'], right_on=['usuario_id'])
#recorridos18_usuarios18nulls = (recorridos18_usuarios18.isnull().sum()/recorridos18_usuarios18.isnull().count()).sort_values(ascending=False)
#recorridos18_usuarios18nulls

In [52]:
#eliminamos nulos
recorridos2018final=recorridos2018final.dropna()
recorridos2018final

,duracion_tot_seg,id_estacion_origen,fecha_origen_recorrido,fecha_destino_recorrido,id_estacion_destino,id_usuario,barrio_origen,capacidad_origen,lat_origen,long_origen,...,Fecha_str,DiaSem,DiaLab,anio,mes,dia,franja_horaria,aniomes,nombre_estacion_origen_min,nombre_estacion_destino_min
0,1193,45,2018-01-01 00:08:05,2018-01-01 00:27:58,183,5453,San nicolas,20,-34.601864,-58.386693,...,2018-01-01,Lunes,1,2018,1,1,0,2018-1,uruguay,virrey cevallos
1,1579,189,2018-01-01 00:18:05,2018-01-01 00:44:24,110,673,Retiro,20,-34.588689,-58.385211,...,2018-01-01,Lunes,1,2018,1,1,0,2018-1,posadas,guardia vieja
2,1659,50,2018-01-01 00:20:14,2018-01-01 00:47:53,31,179119,Palermo,20,-34.583735,-58.401080,...,2018-01-01,Lunes,1,2018,1,1,0,2018-1,hospital rivadavia,padilla
3,2931,111,2018-01-01 00:20:22,2018-01-01 01:09:13,54,400147,Puerto madero,0,-34.604969,-58.363000,...,2018-01-01,Lunes,1,2018,1,1,0,2018-1,macacha güemes,acuña de figueroa
4,2967,111,2018-01-01 00:20:31,2018-01-01 01:09:58,54,400156,Puerto madero,0,-34.604969,-58.363000,...,2018-01-01,Lunes,1,2018,1,1,0,2018-1,macacha güemes,acuña de figueroa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520540,435,75,2018-12-30 19:46:32,2018-12-30 19:53:47,118,190597,Balvanera,20,-34.612298,-58.398987,...,2018-12-30,Domingo,0,2018,12,30,19,2018-12,plaza primero de mayo,méxico
2520541,599,139,2018-12-30 19:48:14,2018-12-30 19:58:13,199,119885,Boedo,0,-34.633309,-58.413150,...,2018-12-30,Domingo,0,2018,12,30,19,2018-12,virrey liniers,estados unidos y boedo
2520542,632,30,2018-12-30 19:48:51,2018-12-30 19:59:23,76,652034,Recoleta,20,-34.590821,-58.397370,...,2018-12-30,Domingo,0,2018,12,30,19,2018-12,peña,ayacucho
2520543,597,52,2018-12-30 19:51:42,2018-12-30 20:01:39,52,467438,Almagro,0,-34.607089,-58.414668,...,2018-12-30,Domingo,0,2018,12,30,19,2018-12,sánchez de bustamante,sánchez de bustamante
2520544,626,6,2018-12-30 19:52:41,2018-12-30 20:03:07,137,265951,San telmo,20,-34.628526,-58.369758,...,2018-12-30,Domingo,0,2018,12,30,19,2018-12,parque lezama,azopardo y chile

In [56]:
train = pd.get_dummies(recorridos2018final)
print(train.shape)

MemoryError: Unable to allocate 5.01 TiB for an array with shape (2346615, 2346615) and data type uint8